span {  /* for editing purposes */
    color: red;
}

body {
    font-family: sans-serif;
    font-size: 0.8em;
    line-height: 1.2;
    margin: 35px;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, code {
    margin-top: 0;
    margin-bottom: 10px;
}

/*  headers */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.8em;
    border-bottom: 1px solid #999999;
}

p {
    margin-bottom: 5px;
}

/* blocks */
code, .side-notes {
    display: block;
    margin-left: 30px;
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
}

quote {
    display: block;
    margin: 5px 0 5px 30px;
    /*border: 1px solid red;*/
    border-left: 4px solid #cccccc;
    padding: 10px 0 10px 20px;
}

quote p {
    font-style: italic;
    margin: 0;
    color: #999999;
}

code p {
    font-family: Courier New, Courier, serif; 
    font-weight: bold;
    margin-bottom: 3px;
}

.side-notes {
    margin-left: 30px;
}
